<a href="https://colab.research.google.com/github/sexymonster/SKILL/blob/main/python/python_part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 0장. 파이썬

파이썬은 초보 프로그래머가 어려운 문법에 허우적거리게 만들지 않고 프로그래밍의 핵심적인 개념을 정말 쉽게 배울 수 있게 만드는 훌륭한 언어라고 한다. 하지만 내가 파이썬을 시작한 진짜 이유는 인공지능에 대한 공부를 하기 위해서이다.

그리고 나는 여기서 내가 가장 먼저 배웠던 언어인 파이썬을 복습하려한다.

자세하게 쓸려면 끝도 없을거 같아 내가 나중에 찾아 볼 만한 자료들로 채우겠다.

# 1장. 자료형

 "그 언어의 자료형을 알고 이해할 수 있다면 이미 그 언어의 절반을 터득한 것이나 다름없다"

## 1-1. 숫자형

### 1-1-1. 정수형

In [1]:
a = 123
b = -193
c = 0

### 1-1-2. 실수형

In [2]:
a = 1.2
b = -3.14

c = 3.14E10  # 3.14*10^(10)
d = 3.14e-10 # 3.14*10^(-10)

### 1-1-3. 연산자

In [5]:
a=7
b=3

print("7 + 3 = ",a+b)
print("7 - 3 = ",a-b)
print("7 * 3 = ",a*b)
print("7 / 3 = ",a/b)
print("7 // 3 = ",a//b)
print("7 % 3 = ",a%b)
print("7 ** 3 = ",a**b)

7 + 3 =  10
7 - 3 =  4
7 * 3 =  21
7 / 3 =  2.3333333333333335
7 // 3 =  2
7 % 3 =  1
7 ** 3 =  343

## 1-2. 문자열 자료형

### 1-2-1. 문자열

In [15]:
# 문장속에 따옴표를 넣고 싶으면 문장을 큰따옴표로 둘러싸면됨
food = "Python's favorit food is perl."
print(food)

# 마찬가지로 문장속에 큰따옴표를 넣고 싶으면 문장을 따옴표로 둘러싸면됨
say = '"Python is very easy." he says.'
print(say)

#아니면 백슬래시를 사용
food = 'Python\'s favorit food is perl.'
print(food)
say = "\"Python is very easy.\" he says."
print(say)

# 여러 줄인 문자열을 변수에 대입하고 싶으면 따옴표를 3개 사용함
multiline = '''
Life is too short
You need python
'''
print(multiline)

# 큰따옴표를 3개 사용해도 출력값은 변함없음
multiline = """
Life is too short
You need python
"""
print(multiline)

Python's favorit food is perl.
"Python is very easy." he says.
Python's favorit food is perl.
"Python is very easy." he says.

Life is too short
You need python


Life is too short
You need python

위에서 백슬래시를 이용한 코드를 이스케이프 코드라고 한다. 자주 사용하는 이스케이프 코드는 아래와 같다.

In [16]:
"\n 줄바꿈"
"\t 탭간격"
"\\ 백슬래쉬" 
"\' 따옴표"
"\" 큰따옴표"

'" 큰따옴표'

### 1-2-2. 문자열 연산

In [19]:
# 문자열 더해서 연결하기 (문자열, 문자열)
head = "Python"
tail = " is fun!"
print(head + tail)

# 문자열 곱하기 (문자열, 정수형)
print(head * 2)

# 문자열 길이 구하기 (여백, 마침표 까지 다 셈에 포함)
a = "Life is too short."
print(len(a))

Python is fun!
PythonPython
18

### 1-2-3.문자열 인덱싱과 슬라이싱

In [27]:
# 인덱싱은 문자열의 문자마다 번호를 (0부터)매기는 것
a = "Life is too short, You need Python!"
print("a[0] = ",a[0],"\ta[1] = ",a[1],"\ta[2] = ",a[2],"\ta[3] = ",a[3],"\ta[4] = ",a[4])
print("\na[-1] = ",a[-1])
print("\n")

# 슬라이싱은 문자열의 구역을 나눠주는 것
print(a[0:4]) # 끝 번호는 포함 안함
print(a[19:]) # 끝 번호를 안채우면 끝까지 출력
print(a[0:19]) # 시작 번호를 안채우면 시작부터 출력
print(a[:]) # 번호를 안채우면 전부 출력
print(a[19:-7]) # 마이너스도 입력 가능

a[0] =  L 	a[1] =  i 	a[2] =  f 	a[3] =  e 	a[4] =

a[-1] =  !


Life
You need Python!
Life is too short,
Life is too short, You need Python!
You need

@@@ 문자열의 요소는 변경불가!!

In [29]:
a = "Pithon"
print('a[1] = "y"는 오류가 발생함')

# 다른 방법으론 새로운 문자열을 만드는 방법이 있음
b= a[:1] + "y" + a[2:]
print(b)

a[1] = "y"는 오류가 발생함
Python

### 1-2-4. 문자열 포매팅

In [35]:
# 정수 대입 %d, %정수형
num = 3
a = "I eat %d apples." %3
b = "I eat %d apples." %num
c = "I eat {} apples.".format(num)
print(a,"\n", b,"\n",c)

# %f, %소수형
a = 3.141592653589793
print("%0.4f" %a) #자리수 끊기

# 문자열 대입 %s, %모든형
c = "I eat %s apples." %"five"
print(c)

# 두개 이상의 값을 넣으려면 괄호로 묶어줘야함
d = "I ate %s apples. So I was sick for %s days." %(num, "five")
print(d)

I eat 3 apples.
 I eat 3 apples.
 I eat 3 apples.
3.1416
I eat five apples.
I ate 3 apples. So I was sick for five days.

f문자열 포매팅

In [39]:
age = 30
a = f"나는 내년이면 {age+1}살 이다."
print(a)

pi = 3.141592653589793
b = f"원주율을 소수점 4째자리까지 나타내면 {pi:0.4f}이다."
print(b)
c = f"pi를 소수점 4째자리까지 나타내면 {pi:0.4f}이다."
print(c)

나는 내년이면 31살 이다.
원주율을 소수점 4째자리까지 나타내면 3.1416이다.
pi를 소수점 4째자리까지 나타내면 3.1416이다.

### 1-2-5. 문자열 관련 함수들

In [51]:
a = "hobby"
print(".count() 해당 문자 개수 세기")
print("b의 개수 세기", a.count("b"))

print(".find() 해당 문자 위치 찾기")
print("b의 위치를 인덱스로 표현", a.find("b"))
print("k가 없으면 -1을 반환", a.find("k"))
print(".index() 해당 문자 위치 찾기")
print("b의 위치를 인덱스로 표현", a.index("b"))

print(".join() 앞의 문자를 해당 문자열 사이사이에 넣기")
print(",".join("abcd"))

print(".lower() 문자열을 소문자로 바꾸기")
print("ABCD".lower())

print(".upper() 문자열을 대문자로 바꾸기")
print("abCd".upper())

print(".lstrip() 왼쪽 공백 지우기")
print("    abcd       ".lstrip())

print(".rstrip() 오른쪽 공백 지우기")
print("      abcd     ".rstrip())

print(".strip() 양쪽 공백 지우기")
print("   abcd    ".strip())

print(".replace(,) 문자열 바꾸기")
a = "Life is too short."
a = a.replace("Life", "The day")
print(a)

print(".split() 문자열 나누기")
print("Life is too short.".split())
print("a:b:c:d".split(":"))

.count() 해당 문자 개수 세기
b의 개수 세기 2
.find() 해당 문자 위치 찾기
b의 위치를 인덱스로 표현 2
k가 없으면 -1을 반환 -1
.index() 해당 문자 위치 찾기
b의 위치를 인덱스로 표현 2
.join() 앞의 문자를 해당 문자열 사이사이에 넣기
a,b,c,d
.lower() 문자열을 소문자로 바꾸기
abcd
.upper() 문자열을 대문자로 바꾸기
ABCD
.lstrip() 왼쪽 공백 지우기
abcd
.rstrip() 오른쪽 공백 지우기
      abcd
.strip() 양쪽 공백 지우기
abcd
.replace(,) 문자열 바꾸기
The day is too short.
.split() 문자열 나누기
['Life', 'is', 'too', 'short.']
['a', 'b', 'c', 'd']

## 1-3. 리스트 자료형

### 1-3-1. 리스트 연산

In [54]:
a = [1,2,3]
b = [4,5,6]
print(a+b)
print(a+b*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 4, 5, 6, 4, 5, 6]

### 1-3-2. 리스트 수정

In [70]:
a = [1,2,3]
a[1]=4
print(a)

b= [4,5,6,7,9]
del b[1]
print(b)

print(b.pop()) # 맨마지막 원소를 출력하고 리스트에서 제거
print(b)

print(b.pop(1)) # 인덱스로 원소 지정도 가능
print(b)

b.append(8)
print(b)

b.insert(1,10)  # 인덱스 1번째에 10을 삽입
print(b)

a=[1,4,2,3]
a.sort()
print(a)

b = [1,4,2,3]
b.reverse()
print(b)

print(b.index(4))

b.remove(4) # 여러개의 4가 있을때는 제일 처음 등장하는 4만 제거
print(b)

a = [1,2,3]
b = [4,5,6]
print(a+b)  # 리스트 a는 원본 유지
a.extend(b) # 리스트 a의 원본 유지가 안됨, 하지만 b는 됨
print(a)
print(b)

[1, 4, 3]
[4, 6, 7, 9]
9
[4, 6, 7]
6
[4, 7]
[4, 7, 8]
[4, 10, 7, 8]
[1, 2, 3, 4]
[3, 2, 4, 1]
2
[3, 2, 1]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[4, 5, 6]

튜플도 리스트 처럼 다룰 수는 있지만 요소를 수정하는 것은 안됨

## 1-4. 딕셔너리 자료형

In [83]:
dic = {'name':['pey','john'], 'phone':['0119993323',"08099729004"], 'birth': ['1118',"0830"]}
dic

{'name': ['pey', 'john'],
 'phone': ['0119993323', '08099729004'],
 'birth': ['1118', '0830']}

In [76]:
import pandas as pd
df = pd.DataFrame(dic)
df

   name        phone birth
0   pey   0119993323  1118
1  john  08099729004  0830

In [84]:
del dic["phone"]
print(dic)

print(dic.keys())
print(list(dic.keys()))

{'name': ['pey', 'john'], 'birth': ['1118', '0830']}
dict_keys(['name', 'birth'])
['name', 'birth']

In [86]:
print(dic.values())
print(dic.items())

dict_values([['pey', 'john'], ['1118', '0830']])
dict_items([('name', ['pey', 'john']), ('birth', ['1118', '0830'])])

In [87]:
dic.clear()
print(dic)

{}

In [90]:
dic = {'name':['pey','john'], 'phone':['0119993323',"08099729004"], 'birth': ['1118',"0830"]}
print(dic["name"])
print(dic.get("name"))
# 똑같은 함수 같지만 오류를 안내는 점이 다름

# print(dic["jon"]) 오류 발생
print(dic.get("jon"))

['pey', 'john']
['pey', 'john']
None

##1-5. 집합 자료형

집합 자료형의 특징 : 중복이 없음, 순서가 없음

In [91]:
s1 = set([1,2,3])
print(s1)

s2 = set("Hello")
print(s2)

{1, 2, 3}
{'o', 'l', 'e', 'H'}

###1-5-1. 교집합, 차집합, 합집합

In [95]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

# 교집합
print(s1 & s2)
print(s1.intersection(s2))

# 합집합
print(s1 | s2)
print(s1.union(s2))

# 차집합
print(s1 - s2)
print(s2 - s1)

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}

### 1-5-2. 집합 자료형 관련 함수

In [98]:
# add  1개의 값 추가
s1 = set([1,2,3])
s1.add(4)
print(s1)

# update 여러개의 값 추가
s1.update([5,6,7])
print(s1)

# remove 특정값 제거
s1.remove(2)
print(s1)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}
{1, 3, 4, 5, 6, 7}